
main{
    justify-content: flex-start;
}
.container-fluid{
    padding-top: 20px;
    min-height: 70vh;
    overflow-x: hidden;

}
.row{
    width: 100vw;
 
}
.sort{
    background-color: var(--onprimary-bg-color);
    height: 83vh;
    overflow-x:hidden;
}



.container-fluid header{
    padding: 2%;
}
.test1,.test2{
    padding: 10px;

}
.container-fluid h1{
    color: var(--primary-text-color);
    font-size: 1.5em;
}
.sort-header h1{
    color:white;
}
.files-section{
    border-left:var(--primary-text-color) 3px solid;
}
.container-fluid a{
    color:white;
    text-decoration: none;
    font-size: 1em;

}
.btn-name,.btn-date,.btn-size{
    display: flex;
    padding: 4%;
    justify-content: center;
 
}
.btn-name>button,.btn-size>button,.btn-date>button{
    width: 60%;
    text-transform: none;
    font-size: 1em;
    color:white;
    margin-right: 10px;
    background-color: var(--onsecondary-bg-color);
}

a{
    padding: 0 ;
    margin: 0;
}
button{
    padding: 0 ;
    margin: 0;
}
.fff{
    margin: 0 !important;
    padding: 0 !important;

}
.btn-sort{
    margin-top: 5px;
    text-transform: none;
    font-size: 1em;
    color:white;
    margin-right: 10px;
    background-color: var(--primary-text-color);
}
.sort-btn{
    text-align: center;
    text-transform: none;
    font-size: 1.5em;
    color:var(--primary-text-color);
    margin-right: 10px;  
}
.sort-btn:hover{
    text-decoration-line: underline;
}
.dl{
    margin-top: 5px;
    text-transform: none;
    font-size: 1em;
    color:white;
    margin-right: 10px;
    background-color: var(--onprimary-bg-color);
}
.ra{
    margin-top: 5px;
    text-transform: none;
    font-size: 1em;
    color:white;
    margin-right: 10px;
    background-color: var(--error-text-color);
}
.up{
    margin-top: 5px;
    text-transform: none;
    font-size: 1em;
    color:white;
    margin-right: 10px;
    background-color: var(--onsecondary-bg-color);
}
.file{
    border-bottom: var(--primary-text-color) 2px solid;
}

.file-title h2{
    font-weight: bold;
    font-size: 1.2em;
}

.dl2 {
    font-size: 1.5em;
    color: var(--onprimary-bg-color);

}

.dl2:hover {
    opacity: 0.5; 
}

.rm {
    font-size: 1.5em;
    color: var(--error-text-color);
}

.rm:hover {
    opacity: 0.5; 
}

span{
    font-size: 1.2em;
}
.empty>p{
    padding: 20px;
    color: var(--primary-text-color);
    font-size: 1.5em;
}

@media (max-width: 575.98px) { 
    .options{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .options {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .options {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (min-width: 992px) { 
    .options {
        display: flex;
        justify-content: end;
        align-items: center;
      }
  }