.userCard{
    display: flex;
    gap: 1em;
    overflow: clip;
    flex-wrap: wrap;
    align-items: center;
}

.userCard.small h3{
    font-size: 1em;
}
.userCard.small h5{
    font-size: 0.8em;
}
.userCard.small .avatar{
    width: 2em;
    height: 2em;
}
