.team, .adminPage {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.users-list {
    width: 100%;
}

.team .userSection {
    margin-bottom: 2em;
}

.users-list > .users {
    padding: 1em 0;
}

.users-list > header {
    width: 100%;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    color: white;
    background: var(--onsecondary-bg-color);
    padding-top: 2em;
}

.users-list > header a {
    margin-left: auto;
    background: var(--sucess-text-color);
}

.users-list > header > * {
    width: 100%;
    display: flex;
}

.users-list header > span {
    margin-left: 0.6em;
}

.users-list header input {
    background: var(--primary-bg-color);
}

.users-list header button {
    background: var(--sucess-text-color);
}

.users-list header > span i {
    margin-right: 0.6em;
}

.status.coordinator, .status.admin {
    background: var(--on-third-bg-color);
    max-height: 2em;
}

.status.member, .status.user {
    background: var(--onprimary-bg-color);
}

.actions > * {
    color: white;
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.actions .remove, .actions .delete {
    background: var(--error-text-color);
}

.actions .block {
    background: var(--warning-bg-color);
}

.actions .promote {
    background: var(--onprimary-bg-color);
}

.actions .edit {
    background: var(--onsecondary-bg-color);
}

.users .user-item .actions > *:hover {
    background: var(--on-third-bg-color);
}

.users .user-item .actions i {
    scale: 1.3;
}

.team header, .adminPage header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.team header section{
    display: flex;
    flex-wrap: wrap;
}
.team header .addUserContainer {
    margin-left: auto;
    width: 100%;
    max-width: 30em;
}

.team header .addUserContainer form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 1em;
    margin: 0;
}

.team header .addUserContainer form > * {
    margin: 0;
    max-width: 20em;
}

.addUserContainer {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.addUserContainer .error {
    align-self: flex-end;
}

.actions button {
    scale: 1.5;
    margin: 0;
}

.users-list .user-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 1em;
    gap: 1em;
    border-bottom: 1px solid var(--primary-border);
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}

.users-list .user-item > * {
    width: 100%;
}

.users-list .user-item .userSection {
    max-width: 50em;
    margin: 0;

}

.users-list .user-item .actions {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 1.5em;
    justify-content: flex-end;
    margin: 0 auto;
}

.users-list .user-item .actions button{
    width: fit-content;
    padding: 1em;
    outline: none;
    border: none;
}

.users-list .user-item .status {
    width: 8em;
    text-align: center;

}


