.projectPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 80vh;
    gap: 1em;

}
.projectPage.admin >.project-list > header{
    padding-top: 3em;
}
.projectPage  h5{
    color: var(--secondary-text-color);
    font-weight: bold;
    height: fit-content;
}
.project-list > header > * {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.project-list > header > * > a {
    margin-left: auto;
    background: var(--sucess-text-color);
}

.projectPage .search > input {
    max-width: 50em;
    border: none;
    background: var(--primary-bg-color);
}

.projectPage > * {
    margin: 0 auto;
}

.project-list {
    width: 100%;
    min-height: 56vh;
}

.project-list > .projects > .projectCard {
    padding: 0.5em 1.5em;
    background: var(--primary-bg-color);
}

.project-list > .projects {
    max-height: 60vh;
    padding-top: 1em;
    overflow-y: scroll;
}

.project-list > header {
    width: 100%;
    padding: 1em;
    display: flex;
    background: var(--onsecondary-bg-color);
   
    flex-wrap: wrap;
}
.project-list .projectPage{
    border: 1px solid var(--primary-border);
}
